In [54]:
# import packages
import pandas as pd
import unicodedata
import numpy as np
from pybaseball.lahman import *
from pybaseball import playerid_reverse_lookup
from pybaseball import pitching_stats

In [55]:
# download lahman database
download_lahman()

# import all star roster data
allstar = all_star_full()

# Gather All Stars from the 2000 to the 2019 MLB Season

In [56]:
# only choose all stars since 2000
allstar_filtered = allstar[allstar["yearID"].between(2000,2019)]

# get full player names instead of player IDs
player_ID = allstar_filtered["playerID"]
allstar_filtered.rename(columns={"playerID": "key_bbref"}, inplace=True)
player_name = playerid_reverse_lookup(player_ID, key_type="bbref")
allstar_key = player_name[["key_bbref", "name_last", "name_first"]]

C:\Users\Owner\AppData\Local\Temp\ipykernel_14852\1294168302.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allstar_filtered.rename(columns={"playerID": "key_bbref"}, inplace=True)

In [57]:
#convert special characters
col = allstar_key.select_dtypes(include=[object]).columns
allstar_key[col] = allstar_key[col].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

C:\Users\Owner\AppData\Local\Temp\ipykernel_14852\2861178179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allstar_key[col] = allstar_key[col].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

In [82]:
# join full names with filtered all star dataset
merged_allstars = pd.merge(allstar_filtered, allstar_key, on="key_bbref", how="left")

merged_allstars['Name'] = merged_allstars['name_first'] +" "+ merged_allstars['name_last']

merged_allstars.to_csv("Model_Data\\allstars00-19.csv")

merged_allstars

,key_bbref,yearID,gameNum,gameID,teamID,lgID,GP,startingPos,name_last,name_first,Name
0,wellsda01,2000,0,NLS200007110,TOR,AL,1,1.0,wells,david,david wells
1,rodriiv01,2000,0,NLS200007110,TEX,AL,1,2.0,rodriguez,ivan,ivan rodriguez
2,giambja01,2000,0,NLS200007110,OAK,AL,1,3.0,giambi,jason,jason giambi
3,alomaro01,2000,0,NLS200007110,CLE,AL,1,4.0,alomar,roberto,roberto alomar
4,frymatr01,2000,0,NLS200007110,CLE,AL,1,5.0,fryman,travis,travis fryman
...,...,...,...,...,...,...,...,...,...,...,...
1439,smithwi04,2019,0,ALS201907090,SFN,NL,1,NaN,smith,will,will smith
1440,sorokmi01,2019,0,ALS201907090,ATL,NL,1,NaN,soroka,michael,michael soroka
1441,storytr01,2019,0,ALS201907090,COL,NL,1,NaN,story,trevor,trevor story
1442,woodrbr01,2019,0,ALS201907090,MIL,NL,1,NaN,woodruff,brandon,brandon woodruff
1443,yateski01,2019,0,ALS201907090,SDN,NL,0,NaN,yates,kirby,kirby yates

#  Gather All Stars from the 2021 MLB Season

In [59]:
# only choose all stars from the 2021 season
allstar_filtered21 = allstar[allstar["yearID"] == 2021]

# get full player names instead of player IDs
player_ID21 = allstar_filtered21["playerID"]
allstar_filtered21.rename(columns={"playerID": "key_bbref"}, inplace=True)
player_name21 = playerid_reverse_lookup(player_ID21, key_type="bbref")
allstar_key21 = player_name21[["key_bbref", "name_last", "name_first"]]

C:\Users\Owner\AppData\Local\Temp\ipykernel_14852\4291154544.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allstar_filtered21.rename(columns={"playerID": "key_bbref"}, inplace=True)

In [60]:
#convert special characters
cols = allstar_key21.select_dtypes(include=[object]).columns
allstar_key21[cols] = allstar_key21[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

C:\Users\Owner\AppData\Local\Temp\ipykernel_14852\2822186560.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allstar_key21[cols] = allstar_key21[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))

In [78]:
# join full names with filtered all star dataset
merged_allstars21 = pd.merge(allstar_filtered21, allstar_key21, on="key_bbref", how="left")

merged_allstars21['Name'] = merged_allstars21['name_first'] +" "+ merged_allstars21['name_last']

merged_allstars21.to_csv("Model_Data\\allstars2021.csv")
merged_allstars21

,key_bbref,yearID,gameNum,gameID,teamID,lgID,GP,startingPos,name_last,name_first,Name
0,ohtansh01,2021,0,NLS202107130,LAA,AL,1,1.0,ohtani,shohei,shohei ohtani
1,perezsa02,2021,0,NLS202107130,KCA,AL,1,2.0,perez,salvador,salvador perez
2,guerrvl02,2021,0,NLS202107130,TOR,AL,1,3.0,guerrero,vladimir,vladimir guerrero
3,semiema01,2021,0,NLS202107130,TOR,AL,1,4.0,semien,marcus,marcus semien
4,deverra01,2021,0,NLS202107130,BOS,AL,1,5.0,devers,rafael,rafael devers
...,...,...,...,...,...,...,...,...,...,...,...
77,turneju01,2021,0,NLS202107130,LAN,NL,1,NaN,turner,justin,justin turner
78,turnetr01,2021,0,NLS202107130,WAS,NL,1,NaN,turner,trea,trea turner
79,walketa01,2021,0,NLS202107130,NYN,NL,1,NaN,walker,taijuan,taijuan walker
80,wheelza01,2021,0,NLS202107130,PHI,NL,0,NaN,wheeler,zack,zack wheeler
81,woodrbr01,2021,0,NLS202107130,MIL,NL,0,NaN,woodruff,brandon,brandon woodruff

# Remove Pitchers from All Star Roster Data

In [80]:
#Gather all qualified pitchers from 2021
qualified_pitchers = pitching_stats(2000,2021, qual=20)

#qualified_pitchers.to_csv("qualified_pitchers.csv")

In [77]:
#Get every pitcher that appears in the dataframe
unique_pitchers_arr = qualified_pitchers.Name.unique()
unique_pitchers = pd.DataFrame(unique_pitchers_arr, columns= ['Name'])
unique_pitchers['exists'] = 'yes'

#unique_pitchers.to_csv("unique_pitchers.csv")

The Rest of the removing pitchers process was done in excel.